{% section 'home-slider' %}
        <section>
            <div class="flex-wrapper">
                <div class="half image-button-block"><img src='{{"collection1.png"|asset_url}}'|asset_url}}'/><a href="#" class='btn-primary uppercase'>Shop our collection</a></div>
                <div class="half image-button-block"><img src='{{"collection2.png"|asset_url}}'"/><a href="#" class='btn-primary uppercase'>wholesale enquires</a></div>
            </div>
        </section>

        <section id="about-us-section" style="background-image: url('{{"our-favorite.png"|asset_url}}');">
            <div class="our-favorite-block text-center">
                <h2>Our Favourites</h2>
                <p>With two generations bringing together the classics and contemporary, the Christou family have established themselves in serving up some of Sydney's best sweet treats.</p>
                <a href="#" class="btn-primary">LEARN MORE</a>
            </div>
        </section>

        <section id="instagram-section" class="pb0">
            <h2 class="text-center">Follow us on Instagram<br/>@sweetkisscakes</h2>                        
            <div class="instagram-images-wrapper flex-wrapper">
                <img src='{{"instagram1.png"|asset_url}}' alt="@sweetkisscakes" />
                <img src='{{"instagram2.png"|asset_url}}' alt="@sweetkisscakes" />
                <img src='{{"instagram3.png"|asset_url}}' alt="@sweetkisscakes" />
                <img src='{{"instagram4.png"|asset_url}}' alt="@sweetkisscakes" />
                <img src='{{"instagram5.png"|asset_url}}' alt="@sweetkisscakes" />
                <img src='{{"instagram6.png"|asset_url}}' alt="@sweetkisscakes" />
            </div>
        </section>